<!DOCTYPE html>
<html>
<head>
    <title>Instagram Unfollowers Checker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>Instagram Unfollowers Checker</h1>

    <form method="POST" enctype="multipart/form-data">

        <label>Followers File</label>
        <input type="file" name="followers" required>

        <label>Following File</label>
        <input type="file" name="following" required>

        <button type="submit">Check</button>

    </form>

    {% if unfollowers %}

    <h2>Users Who Don’t Follow You Back</h2>

    <ul>
        {% for user in unfollowers %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>

    {% endif %}

</div>

</body>
</html>
