<!DOCTYPE html>
<html>
<head>
    <title>Instagram Unfollowers Checker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>Instagram Unfollowers Checker</h1>
    <h2>How to download your files from Instagram</h2>
    <ol>
        <li>Navigate to Profile > Menu (three lines) > Accounts Center > Your information and permissions > Export your information > Create Export</li>
        <li>Select which account you want to use the checker on.</li>
        <li>Choose where to export.</li>
        <li>Before exporting select desired Date Range <br> - First time users select "All time."</br></li>
        <li>Start export and wait for it to send to the location you chose</li>
    </ol>
    <form method="POST" enctype="multipart/form-data">

        <label>Followers File</label>
        <input type="file" name="followers" required>

        <label>Following File</label>
        <input type="file" name="following" required>

        <button type="submit">Check</button>

    </form>

    {% if unfollowers %}

    <h2>Users Who Don’t Follow You Back</h2>

    <ul>
        {% for user in unfollowers %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>

    {% endif %}

</div>

</body>
</html>
